{% load static %}

<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <body>
        <!--- this part of code is used to set a variable in a template and display it in HTML page
        {% with firstname="Tobias" %}
            <h1>Hello {{ firstname }}, how are you ? </h1>
        {% endwith %}>-->

     
{% comment %}             <ul>
            {% for x in mymembers %}
                <li>{{ x.firstname }}</li>
            {% endfor %}
            {% templatetag openblock %}        </ul> {% endcomment %}
    
        {% include "mymenu.html" with me="GREGOIRE" sponsor="W3SCHOOL" %}
        <h1>Hello</h1>

        <p>This page contains a footer in a template.</p>

        {% include 'footer.html' %}

        <p>Check out the two templates to see what they look like, and views.py to see the reference to the child template.</p>
    </body>
</html>